 .example-box {
    width: 350px;
    height: 500px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    /* display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    background: #fff;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  } 
  
  /* Style for the form container */
  form {
    max-width: 400px;
    margin: 20px auto;
  }
  
  /* Style for each item in the list */
  div[formArrayName="items"] {
    margin-bottom: 10px;
  }
  
  /* Style for the input field */
  input {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
  }
  
  /* Style for the "Add Item" button */
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  /* Style for the "Remove" button */
  button[aria-label="Remove"] {
    background-color: #f44336;
  }
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  button.example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 0px;
    }
    
    

    