:host {
    display: block;
    width: 100%;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  input,
  textarea,
  mat-datepicker-toggle {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  mat-dialog-actions {
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    margin: 0 10px;
  }
  
  @media screen and (max-width: 600px) {
    /* Adjust styles for smaller screens if needed */
    mat-dialog-content {
      padding: 0 20px;
    }
  }